.movieRowSection {
  width: 100%;
  background: transparent;
}

.rowName {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.8rem, 3vh, 4rem);
  margin: 0.5rem 0 0.5rem 1rem;
  font-weight: normal;
}

.scrollContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.moviesContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0 1rem 1rem;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.myListStyle {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 4rem 0;
  margin: 0 2rem;
}
