.cardWrapper {
  position: relative;
  width: 16vw;
  transition: transform 0.2s ease;
  flex-shrink: 0;
  margin: 1rem 0;
}

.cardWrapper:hover {
  z-index: 3;
  transform: scale(1.2);
  transition-delay: 0.2s;
  transform-origin: center center;
}

.cardWrapper:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}

.cardWrapper:first-child:hover {
  transform-origin: left center;
}

.cardWrapper:last-child:hover {
  transform-origin: right center;
}

.poster {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 4px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controls {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0rem 0.1rem;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.controls button svg {
  font-size: 24px;
}

.controls button:hover {
  transform: scale(1.08);
}

.metadata {
  margin-bottom: 0.5rem;
}

.metadata p {
  margin: 0 0.5rem;
  font-size: 0.8rem;
}

.metadata .movieTitle {
  font-weight: bold;
}

.metadata span {
  display: inline-flex;
}

.metadata .releaseYear {
  color: rgb(12, 204, 12);
  width: 1rem;
  margin-right: 2rem;
}
